# Python Bytecode
__pycache__/
*.py[cod]

# Environments
venv/
.venv/
env/
.env/
ENV/
.ENV/

# User-specific Config
config.ini

# Application Outputs
*.json
*.pdf
*.log

# OS-specific
.DS_Store
Thumbs.db